<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<h1 class="text-center">Editar contato</h1>
 
<%= render 'form' %>
 
<div class="col-md-2 col-md-offset-5">
  <button type="button" class="btn btn-default btn-lg btn-block">
  		<span class="glyphicon glyphicon-circle-arrow-left"></span>
		<%= link_to 'Voltar', contacts_path %>
	</button>
</div>