<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<h1 class="text-center">Contatos</h1>

<div class="col-md-4 col-md-offset-4">
  <table class="table table-bordered">
    <tr>
      <th>#ID</th>
      <th>Nome</th>
    </tr>
   
    <% @contacts.each do |contact| %>
      <tr>
        <td>#<%= contact.id %></td>
        <td><%= link_to contact.name, contact_path(contact) %></td>
      </tr>
    <% end %>
  </table>
</div>

</p>
<div class="col-md-4 col-md-offset-4">
  <button type="button" class="btn btn-default btn-lg btn-block">
    <span class="glyphicon glyphicon-user"></span>
    <%= link_to 'Novo Contato', new_contact_path %>
  </button>
  <button type="button" class="btn btn-default btn-lg btn-block">
    <span class="glyphicon glyphicon-home"></span>
    <%= link_to 'Home', controller: 'welcome' %>
  </button>
</div>